body {overflow-y: scroll;}

#noContentDesc, table, #notCredits, #installModal, #feedbackModal p {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#status {
	flex-grow: 1;
	text-overflow: ellipsis;
	overflow: hidden;
}

#status i.fa-circle {transform: scale(0.8);}

h1, h2 {text-align: center;}

h1 {
	margin-left: 16px;
	margin-right: 16px;
}

.errorMessage {color: red;}

#noContentDesc {
	text-align: center;
	margin: 0 1em;
}

table {color: white;}
.placeCell {font-weight: bold;}
.houseCell {width: 100%;}
.scoreCell {text-align: right;}

#eventsHeading div {
	margin: 2em 16px 0;
}

.nothingText {color: gray}

#events {margin-bottom: 1em;}

.event {
	background-color: #282828;
	padding: 1em;
	margin-top: 1em;
}

.event h3 {margin-top: 0;}

.event ul {
	padding: 0;
	list-style: none;
}

#credits {
	display: none;
	text-align: center;
}

.centeredDot {
	margin: 0 auto;
	width: 5px;
	height: 5px;
	background-color: dimgray;
	border-radius: 50%;
}

.updateNote ul {margin: 0;}

#prevUpdates :last-child {margin-bottom: 0;}

@media screen and (min-width: 481px) {
	.event {border-radius: 1em}
}

@media only screen and (prefers-color-scheme: light) {
	.nothingText {color: gray}
	
	.event {background-color: #e7e7e7;}
	
	.centeredDot {background-color: #979797;}
}